* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #0cb7f8;
}
html,
body {
  height: 100%;
  background-color: var(--bg-color);
  /* font-family: "Arapey", serif;
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
}

/* NAVBAR */
.nav {
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: #3465d9;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-nav-content {
  font-family: Montserrat, sans-serif;
  margin: 0 0 0 20px;
  cursor: pointer;
  font-size: 1.5rem;
}

.right-nav-content {
  margin: 0 20px 0 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.nav-link {
  cursor: pointer;
  margin: 1rem;
  font-size: 1.1rem;
  font-family: "Montserrat";
  font-weight: bold;
}

.nav-link:hover {
  color: orange;
}

/* LINE DIVIDER */
.line-divider {
  width: 100%;
  border: 2px solid black;
}

/* BANNER */
section {
  height: 100vh;
}

.home-banner {
  display: grid;
  place-items: center;
}

.banner-wrapper {
  width: 80%;
  margin: 0 auto;
}

.banner-title {
  font-size: 3rem;
  font-family: "Montserrat", serif;
  text-transform: uppercase;
}

.banner-text {
  font-size: 1.5rem;
  font-family: monospace;
  color: white;
}

/* MAIN */

.main-content {
  width: 100%;
  height: 100%;
}

.penguin-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50%;
}

.left-main-content {
  height: 100%;
}
.penguin-img {
  height: 100%;
  background-image: url("./penguin.jfif");
  background-size: 75%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 2rem 0 0 0;
}

.right-main-content {
  height: 100%;
  display: grid;
  place-items: center;
}

.main-description {
  width: 80%;
}

.main-title {
  font-size: 3rem;
  padding: 0 0 1rem 0;
  font-family: "Montserrat", serif;
}

.main-text {
  color: white;
  font-family: monospace;
  font-size: 1.5rem;
}

.services-container {
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-card {
  height: 50%;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-btn {
  padding: 20px 30px;
  border-radius: 2px;
  background-color: #3465d9;
  color: white;
  font-family: "Montserrat", serif;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.main-btn:hover {
  color: orange;
}

/* QUESTIONS */
.questions-form {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.questions-title {
  font-family: "Montserrat", serif;
  font-size: 2rem;
  padding: 0.5rem;
}

.questions-description {
  font-family: "Montserrat", serif;
  font-size: 1rem;
}
